/* CSS Document */

        table.main
        {
            width: 102%;
            height: 440px;
           /* table-layout: fixed; */
        }
        table.root
        {
           /* table-layout: fixed; */
        }
        table.content
        {
            table-layout: fixed;
            width: 300%;
        }
        table.head
        {
            table-layout: fixed;
            width: 300%;
			/*border-top:1px solid #cccccc;
			border-left:1px solid #cccccc;
			border-right:1px solid #cccccc;
			border-bottom:1px solid #cccccc;*/
        }
         table.frozen
        {
            table-layout: fixed; 
        }
        div.horizontal-scroll
        {
            height: 20px;
            width:98%;
            overflow: hidden;
            overflow-x: scroll;
        }
        div.horizontal-scroll div
        {
            width: 230%;
            height: 1px;
        }
        div.vertical-scroll
        {
            height: 470px;
            width: 22px;
        }
        div.vertical-scroll div
        {
            height: 1000px;
            width: 1px;
        }
        
        div.vertical-scroll-fixed
        {
            height: 470px;
            width: 22px;
        }
        div.vertical-scroll-fixed div
        {
            height: 470px;
            width: 1px;
        }
        td.inner
        {
            padding: 0px;
            height: 28px;
			vertical-align:top;
			background-color:#eeeeee;
			line-height:24px;
			overflow:hidden;
        }
        td.inner1
        {
            padding: 0px;
            height: 28px;
			vertical-align:top;
			background-color:#f8f8f8;
			line-height:24px;
			overflow:hidden;
        }
        td.frozencol
        {
		height:24px;
		padding:0px 0px 0px 0px;
		line-height:26px;
		
        }
        td.frozencol1 img
        {
		padding:8px 0px 0px 0px;
		background-color:#eeeeee;
		line-height:22px;
        }
        td.frozencol1
        {
		height:28px;
		background-color:#eeeeee;
		line-height:26px;
        }
		
        td.frozencol2 img
        {
		padding:8px 0px 0px 0px;
		background-color:#f8f8f8;
		line-height:22px;
        }
        td.frozencol2
        {
		height:28px;
		background-color:#f8f8f8;
		line-height:26px;
        }
        td.col1
        {
            border-left: none;
			padding:0px 10px 0px 10px;
			background-color:#eeeeee;
        }
        td.col11
        {
			padding:0px 10px 0px 10px;
            border-left: none;
			background-color:#f8f8f8;
        }
        td.bottomcol
        {
            /*border-bottom: 1px solid #666;*/
        }
        .col2
        {
            overflow: hidden; text-overflow: ellipses; white-space: nowrap; background-color:#eeeeee;
        }
        .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10
        {
            overflow: hidden;
            text-overflow: ellipses;
            white-space: nowrap;
        }
        .col21, .col31, .col41, .col51, .col61, .col71, .col81, .col91, .col101
        {
            overflow: hidden;
            text-overflow: ellipses;
            white-space: nowrap;
			background-color:#f8f8f8;
        }
        td.head
        {
            /*border-bottom: 1px solid #666;
            background-color: #efefef;
            border-top: 1px solid #666;*/
			background-image:url(../images/titles-bg.png); background-repeat:repeat-x; 
			font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px;
        }
       .rightcol
        {
        }
        .toprow
        {
            border-top: 0px;
			padding:4px 0px 0px 0px;
        }
        div.root
        {
            margin-left: 0px;
            overflow: hidden;
            height: 32px;
        }
        div.frozen
        {
            overflow: hidden;
             /*border-bottom: 1px solid #666;*/
            height: 440px;
			font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:11px;
        }
        div.divhead
        {
            overflow: hidden;
            height: 32px;
			vertical-align:top;
			font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:11px;
            /*border-left: 1px solid #666;
            border-right: 1px solid #666; /*border-bottom: 0px solid #666;
            border-bottom: 1px solid #666;*/
        }
        div.content
        {
        	overflow: auto;
            overflow-x: hidden;
            height: 440px;
			font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:11px;
        }
        td.tablefrozencolumn
        {
		width:35%;
        }
        td.tablecontent
        {
        }
        td.tableverticalscroll
        {
            width: 22px;
        }
        div.ff-fill
        {
            height: 20px;
            width: 23px;
        }
        div.ff-fill1
        {
        }
