
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}
.info, .success, .warning, .error, .validation {
	border: 1px solid;
	margin: 1px 0px;
	padding:1px 1px 1px 20px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('info.png');
}
.success {
	height:20px;
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('success.png');
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('warning.png');
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('error.png');
}

