<!--
/*
 * Shirai
 *
 * TITLE :Migration and Conversion
 *
 **********************************************************************************************
 * MODIFICATION HISTORY
 *
 * Version      Date          Name            			Remarks
 *---------     -----------   ------------    			------------------
 * Ver.1.0      2012/03/05    K.K.KAMALA KANNAN [SRM]  	RELEASED VERSION
 **********************************************************************************************
 */
-->

body {
	margin:0px auto;
	background-color:#FFFFFF;
}
.page-header{
	width:100%;
	height:80px;
	background-image:url(../images/header-bg.jpg);
	background-repeat:repeat-x;
	margin:0px auto;
}
.main-bg{
	background-image:url(../images/main-bg.jpg);
	background-repeat:no-repeat;
	background-position:top center;
}
.logo{
	width:166px;
	text-align:center;
	height:100px;
}
.menus{
	width:550px;
}
.menu-nav{
	margin:15px 5px;
	text-align:center;
}
.master-entry {
	width:78px; height:77px; position:absolute; margin:-40px 0px 0px 8px; z-index:2; background-color:#e2f3f7;
	font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; color:#000000; line-height:18px;
	border:1px solid #a3d1dc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	/*behavior: url(border-radius.htc);*/
}
.master-entry:hover{
	-moz-box-shadow:0px 1px 1px 1px #333;
	-webkit-box-shadow:0px 1px 1px 1px #333;
	box-shadow:0px 1px 1px 1px #333;
	/* For IE 8 */
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#333333');
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#333333');
}
.job-main{
	width:78px; height:77px; position:absolute; margin:-40px 0px 0px 93px; z-index:2; background-color:#e2f3f7;
	font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; color:#000000; line-height:18px;
	border:1px solid #a3d1dc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	/*behavior: url(border-radius.htc);*/
}
.job-main:hover{
	-moz-box-shadow:0px 1px 1px 1px #333;
	-webkit-box-shadow:0px 1px 1px 1px #333;
	box-shadow:0px 1px 1px 1px #333;
	/* For IE 8 */
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#333333');
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#333333');
}
.user-main{
	width:78px; height:77px; position:absolute; margin:-40px 0px 0px 178px; z-index:2; background-color:#e2f3f7;
	font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; color:#000000; line-height:18px;
	border:1px solid #a3d1dc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	/*behavior: url(border-radius.htc);*/
}
.user-main:hover{
	-moz-box-shadow:0px 1px 1px 1px #333;
	-webkit-box-shadow:0px 1px 1px 1px #333;
	box-shadow:0px 1px 1px 1px #333;
	/* For IE 8 */
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#333333');
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#333333');
}
.adm-policy{
	width:78px; height:77px; position:absolute; margin:-40px 0px 0px 263px; z-index:2; background-color:#e2f3f7;
	font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; color:#000000; line-height:18px;
	border:1px solid #a3d1dc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	/*behavior: url(border-radius.htc);*/
}
.adm-policy:hover{
	-moz-box-shadow:0px 1px 1px 1px #333;
	-webkit-box-shadow:0px 1px 1px 1px #333;
	box-shadow:0px 1px 1px 1px #333;
	/* For IE 8 */
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#333333');
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#333333');
}
.imp-exp-data{
	width:78px; height:77px; position:absolute; margin:-40px 0px 0px 348px; z-index:2; background-color:#e2f3f7;
	font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; color:#000000; line-height:18px;
	border:1px solid #a3d1dc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	/*behavior: url(border-radius.htc);*/
}
.imp-exp-data:hover{
	-moz-box-shadow:0px 1px 1px 1px #333;
	-webkit-box-shadow:0px 1px 1px 1px #333;
	box-shadow:0px 1px 1px 1px #333;
	/* For IE 8 */
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#333333');
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#333333');
}
.info-alert-sys{
	width:78px; height:77px; position:absolute; margin:-40px 0px 0px 433px; z-index:2; background-color:#e2f3f7;
	font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; color:#000000; line-height:18px;
	border:1px solid #a3d1dc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	/*behavior: url(border-radius.htc);*/
}
.info-alert-sys:hover{
	-moz-box-shadow:0px 1px 1px 1px #333;
	-webkit-box-shadow:0px 1px 1px 1px #333;
	box-shadow:0px 1px 1px 1px #333;
	/* For IE 8 */
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#333333');
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#333333');
}
.track-sys{
	width:78px; height:77px; position:absolute; margin:-40px 0px 0px 518px; z-index:2; background-color:#e2f3f7;
	font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; color:#000000; line-height:18px;
	border:1px solid #a3d1dc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	/*behavior: url(border-radius.htc);*/
}
.track-sys:hover{
	-moz-box-shadow:0px 1px 1px 1px #333;
	-webkit-box-shadow:0px 1px 1px 1px #333;
	box-shadow:0px 1px 1px 1px #333;
	/* For IE 8 */
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#333333');
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#333333');
}
.temp-main{
	width:85px; height:77px; position:absolute; margin:-40px 0px 0px 603px; z-index:2; background-color:#e2f3f7;
	font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; color:#000000; line-height:18px;
	border:1px solid #a3d1dc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	/*behavior: url(border-radius.htc);*/
}
.temp-main:hover{
	-moz-box-shadow:0px 1px 1px 1px #333;
	-webkit-box-shadow:0px 1px 1px 1px #333;
	box-shadow:0px 1px 1px 1px #333;
	/* For IE 8 */
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#333333');
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#333333');
}
.Logout{
color:#ff7e00; font-family:Myriad Web, Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:14px; height:25px;
}
.Logout a{
color:#ff7e00; font-family:Myriad Web, Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:14px; text-decoration:none; font-weight:bold;
}
.Logout a:hover{
color:#ff7e00; font-family:Myriad Web, Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:14px;
}
.user-name{
width:50%;
font-family:Arial, Helvetica, sans-serif, Arial Unicode MS;
font-size:12px;
font-weight:bold;
line-height:15px;
}
.company-name{
width:50%;
text-align:right;
font-family:Arial, Helvetica, sans-serif, Arial Unicode MS;
font-size:12px;
font-weight:bold;
}
.heading-bg{
background-image:url(../images/heading-bg.png);
background-repeat:repeat-x;
text-align:center;
font-family:Myriad Web, Arial, Helvetica, sans-serif, Arial Unicode MS;
font-size:12px;
font-weight:normal;
color:#000066;
text-shadow:1px 2px 3px 1px #000088;
}
.login-bg{
background-color:#e0f7fe;
text-align:center;
font-family:Myriad Web, Arial, Helvetica, sans-serif, Arial Unicode MS;
font-size:14px;
font-weight:normal;
}
.login-top{
background-image:url(../images/login-top.png);
background-repeat:repeat-x;
}
.login-left{
background-image:url(../images/login-left.png);
background-repeat:repeat-y;
width:14px;
}
.login-right{
background-image:url(../images/login-right.png);
background-repeat:repeat-y;
width:14px;
}
.login-bot{
background-image:url(../images/login-bot.png);
background-repeat:repeat-x;
}

.login-text{
text-align:left;
font-family:Myriad Web, Arial, Helvetica, sans-serif, Arial Unicode MS;
font-size:11px;
font-weight:normal;
}
.search_text_list_page{
text-align:right;
font-family:Myriad Web, Arial, Helvetica, sans-serif, Arial Unicode MS;
font-size:14px;
font-weight:normal;
}
.input-bg input{
background-image:url(../images/input-bg.png);
background-repeat:repeat-x;
background-position:top;
border:none;
background-color: transparent;
height:20px;
font-size:11px;
width:100%;
padding:0px 0px 0px 4px;
line-height:24px;
}
.sl-no{
background-image:url(../images/titles-bg.png); background-repeat:repeat-x; font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; 
text-align:center; padding:0px 20px 0px 20px;
}
.com-name{
background-image:url(../images/titles-bg.png); background-repeat:repeat-x; font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; 
text-align:center; padding:0px 20px 0px 20px;
}
.con-person{
background-image:url(../images/titles-bg.png); background-repeat:repeat-x; font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; 
text-align:center; padding:0px 20px 0px 20px;
}
.con-num{
background-image:url(../images/titles-bg.png); background-repeat:repeat-x; font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; 
text-align:center; padding:0px 20px 0px 20px;
}
.con-fax-num{
background-image:url(../images/titles-bg.png); background-repeat:repeat-x; font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; 
text-align:center; padding:0px 20px 0px 20px;
}
.date{
background-image:url(../images/titles-bg.png); background-repeat:repeat-x; font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; 
text-align:center; padding:0px 20px 0px 20px;
}
.status{
background-image:url(../images/titles-bg.png); background-repeat:repeat-x; font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; 
text-align:center; padding:0px 20px 0px 20px;
}
.details1{
background-color:#eeeeee; height:32px;
}
.details1-div{
width:4px; background-image:url(../images/details1-div.png); background-repeat:repeat-y;
}
.details2{
background-color:#f8f8f8; height:32px;
}
.details2-div{
width:4px; background-image:url(../images/details2-div.png); background-repeat:repeat-y;
}
.spacer{
height:5px;
}



/* Modified 08/03/2012 */
.job-status-report{
background-color:#999999;
border:1px solid #cccccc;
padding:30px;
width:550px;
margin:auto;
}
.right-btn{
width:45px; margin:0px 0px 0px 0px;
}
.right-btn a{
padding:4px 4px 4px 4px; border:1px solid #cccccc; background-color:#ececec; text-decoration:none; font-family:Arial, Helvetica, sans-serif;
}

.job-status-title{
background-color:#f9f9f9; width:200px; text-align:center; padding:4px 0px 4px 0px;
}
.job-status-cont{
background-color:#f9f9f9;
}
.job-status-cont-center{
background-color:#f9f9f9; height:200px; text-align:center;
}
.job-table-title{
background-color:#cccccc; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000000; padding:4px 0px 4px 0px;
}
.job-table-row1{
background-color:#ececec; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000000; padding:4px 0px 4px 0px; width:70px;
}
.job-table-row2{
background-color:#f3f3f3; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000000; padding:4px 0px 4px 0px; width:70px;
}
.job-status-cont-bot-whole{
background-color:#f9f9f9; text-align:center;
}
.job-status-cont-bot{
background-color:#f9f9f9; text-align:center; width:300px; padding:4px 0px 4px 0px;
}
.job-table-report1{
background-color:#cccccc; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; height:75px; vertical-align:top;
}

/* Modified 08/03/2012 */

/* Modified 09/03/2012 */
.btn-bg{
background-image:url(../images/btn-bg.png); background-repeat:repeat-x; vertical-align:top; padding:4px 0px 0px 0px;
font-family:Myriad Web, Arial, Helvetica, sans-serif; font-size:11px; color:#000000; font-weight:normal; text-align:center;
}
.btn-bg_focus{
background-image:url(../images/btn-bg.png); background-repeat:repeat-x; vertical-align:top; padding:4px 0px 0px 0px;
font-family:Myriad Web, Arial, Helvetica, sans-serif; font-size:11px; color:#0000FF; font-weight:normal; text-align:center;
}
.btn-bg a{
font-family:Myriad Web, Arial, Helvetica, sans-serif; font-size:11px; color:#000000; font-weight:normal; text-align:center; text-decoration:none;
}
.btn-bg a:hover{
font-family:Myriad Web, Arial, Helvetica, sans-serif; font-size:11px; color:#000000; font-weight:normal; text-align:center; text-decoration:underline;
}

/* Modified 09/03/2012 */



/* Modified 14/03/2012 */
.footer {
 background-color:#0085bc;
 height: 25px;
}
.copyright {
 background-color:#0085bc;
 font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#7bd2f6; font-weight:normal; text-align:right; text-decoration:nono;
 height: 25px;
}
.titles-left{
background-image:url(../images/titles-left.png); background-repeat:repeat-x; width:13px;
}
.titles-right{
background-image:url(../images/titles-right.png); background-repeat:repeat-x; width:13px;
}
.titles-div{
background-image:url(../images/titles-div.png); background-repeat:repeat-x; width:4px;
}
.ch-box{
background-image:url(../images/titles-bg.png); background-repeat:repeat-x; font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; 
text-align:center; padding:0px 10px 0px 10px; position:inherit;
}
.details1-ch{
background-color:#eeeeee; height:32px; text-align:center;
}
.details2-ch{
background-color:#f8f8f8; height:32px; text-align:center;
}

/* Modified 14/03/2012 */



/* Modified 16/03/2012 */
.dataTable { width: 110%; height:250px;}
.dataTable td, .dataTable th { margin:0px;}
.dataTable thead th {height:32px;}

#tab-head{
position:absolute;
margin:0px 0px 0px 0px;
display:inline;
width:110%;
z-index:-3;
}

/* Modified 16/03/2012 */


/* Updated 19/03/2012 */

.tooltip{
margin:0px 0px 0px 0px;
}
.tooltip-bg{
/* 
background-image: url(../images/tooltip-arrow.png), url(../images/tooltip-right.png), url(../images/tooltip-bg.png);
background-repeat: no-repeat, no-repeat, repeat-x;
background-position: left top, right top, left top ;
display: inline-block;
margin: 1em; padding: 1em;
*/

background-image:url(../images/tooltip-bg.png);
background-repeat:repeat-x;
height:40px;
padding:0px 5px 0px 5px;
font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:11px;
}
.form-text{
vertical-align:top;
}
/* Updated 19/03/2012 */

/* Updated 21/03/2012 */
.btn-bg-home_focus{
background-image:url(../images/btn-bg1.png); background-repeat:repeat-x; vertical-align:top; padding:4px 0px 0px 0px;
font-family:Myriad Web, Arial, Helvetica, sans-serif; font-size:11px; color:#0000FF; font-weight:normal; text-align:center;
}

.btn-bg-home{
background-image:url(../images/btn-bg1.png); background-repeat:repeat-x; vertical-align:top; padding:4px 0px 0px 0px;
font-family:Myriad Web, Arial, Helvetica, sans-serif; font-size:11px; color:#000000; font-weight:normal; text-align:center;
}
.btn-bg-home a{
font-family:Myriad Web, Arial, Helvetica, sans-serif; font-size:11px; color:#000000; font-weight:normal; text-align:center; text-decoration:none;
}
.btn-bg-home a:hover{
font-family:Myriad Web, Arial, Helvetica, sans-serif; font-size:11px; color:#000000; font-weight:normal; text-align:center; text-decoration:underline;
}
.login-top-home{
background-image:url(../images/login-top-home.png);
background-repeat:repeat-x;
}
.login-left-home{
background-image:url(../images/login-left-home.png);
background-repeat:repeat-y;
width:14px;
}
.login-right-home{
background-image:url(../images/login-right-home.png);
background-repeat:repeat-y;
width:14px;
}
.login-bot-home{
background-image:url(../images/login-bot-home.png);
background-repeat:repeat-x;
}

.example-tool{
font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:11px; font-weight:normal; margin:0px 0px 0px 5px;
}

/* Updated 21/03/2012 */

.table-texts{
font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000000; font-weight:normal;
}

.table-border{ border:3px solid #a3d1dc; }

.form-text-middle{
vertical-align:middle;
}

/* Updated 19/04/2012 */
.error-bg{
background-color:#e0f7fe;
font-family:Myriad Web, Arial, Helvetica, sans-serif, Arial Unicode MS;
font-size:14px;
font-weight:normal;
}
.error-title{
height:20px; padding:10px 40px; font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; font-weight:bold; vertical-align:top;
text-align:center; background-color:#e0ffff;
}
.error-disc{
font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:11px; font-weight:normal; padding:10px; background-color:#e0ffff; text-align:left;
}
.error-details{
width:100%; height:270px; overflow:auto;
font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:11px; font-weight:normal; text-align:left;
}
/* Updated 19/04/2012 */

/* Updated 24/04/2012 */
.job-status-table{
font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:center;
}
/* Updated 24/04/2012 */


/* Updated 25/04/2012 */
.btn-bg-home-st1{
background-image:url(../images/btn-bg1-st.png); background-repeat:repeat-x; vertical-align:middle; padding:0px 0px 0px 0px;
font-family:Myriad Web, Arial, Helvetica, sans-serif; font-size:11px; color:#000000; font-weight:normal; text-align:center;
}


.btn-bg-home-st2{
background-image:url(../images/btn-bg1-std.png); background-repeat:repeat-x; vertical-align:middle; padding:0px 0px 0px 0px;
font-family:Myriad Web, Arial, Helvetica, sans-serif; font-size:11px; color:#000000; font-weight:normal; text-align:center;
}

/* Updated 25/04/2012 */


/* Updated 30/04/2012 */
.job-import-head{
z-index:-1;
font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; font-weight:normal; text-align:center; text-decoration:none;
}
.job-import{
font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; font-weight:normal; text-align:left; text-decoration:none;
}
.header-scroll{
z-index:-1;
}

div.header-scroll
{
  	overflow: auto;
    height: 360px;
}
.scr-inn{
background-color:#ececec;
padding:5px 0px 4px 5px;
font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; font-weight:normal; text-align:left; text-decoration:none;
}
.scr-head1{
padding:2px 0px 2px 0px;
width:20%;
background-image:url(../images/titles-bg.png); background-repeat:repeat-x;
font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; font-weight:bold; text-align:center; text-decoration:none;
}
.scr-head2{
padding:2px 0px 2px 0px;
width:40%;
background-image:url(../images/titles-bg.png); background-repeat:repeat-x;
font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; font-weight:bold; text-align:center; text-decoration:none;
}
.scr-head3{
padding:2px 0px 2px 0px;
width:40%;
background-image:url(../images/titles-bg.png); background-repeat:repeat-x; 
font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; font-weight:bold; text-align:center; text-decoration:none;
}
.outer {
    position:relative;
    width:95%;
}
.inner {
	z-index:-1;
    height:400px;
    overflow:auto;
}
.scroll-header {
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
	background-color:#CCCCCC;
}
/* Updated 30/04/2012 */

.job-import-status{
	position:relative;
	margin:0px 0px 0px 0px;
	vertical-align:top;
}

