<!--
/*
 * Shirai
 *
 * TITLE :Migration and Conversion
 *
 **********************************************************************************************
 * MODIFICATION HISTORY
 *
 * Version      Date          Name            			Remarks
 *---------     -----------   ------------    			------------------
 * Ver.1.0      2012/03/05    K.K.KAMALA KANNAN [SRM]  	RELEASED VERSION
 **********************************************************************************************
 */
-->

body {
	margin:0px auto;
	background-color:#FFFFFF;
}
.login-main{
width:1000px;
margin:0px auto;
}
.login-main-bg{
width:1000px;
height:625px;
background-image:url(../images/login-main-bg.jpg);
background-repeat:no-repeat;
float:left;
}
.traceability-system{
font-family:Arial, Georgia, Times New Roman, Times, serif;
font-size:45px;
margin:10px;
float:left;
}
.traceability-logo{
width:1000px;
margin:0px auto;
text-align:center;
}

/* Login Box */
.login-box{
height:405px;
}

.login-page-top{
background-image:url(../images/login-page-top.png);
background-repeat:repeat-x;
margin:2px 0px 0px 0px;
}
.login-page-bot{
background-image:url(../images/login-page-bot.png);
background-repeat:repeat-x;
margin:0px 0px 0px 0px;
}

.login-page-left{
background-image:url(../images/login-page-left.png);
background-repeat:repeat-y;
margin:0px 0px 0px 0px;
}

.login-page-right{
background-image:url(../images/login-page-right.png);
background-repeat:repeat-y;
margin:0px 0px 0px 0px;
}

.login-page{
background-image:url(../images/login-page-bg.png);
margin:0px 0px 0px 0px;
}
.login-page-text{
font-family:Arial, Georgia, Times New Roman, Times, serif;
font-size:15px;
color:#FFFFFF;
text-align:right;
padding:0px 10px 0px 0px;
}

.lang-option{
font-family:Arial, Georgia, Times New Roman, Times, serif;
font-size:15px;
color:#FFFFFF;
padding:0px 10px 0px 0px;
}
.btn1-bg{
background-image:url(../images/btn1-bg.jpg);
background-repeat:repeat-x;
height:21px;
font-size:12px;
padding:0px 20px 0px 20px;
}

.btn1-bg-focus{
background-image:url(../images/btn1-bg.jpg);
background-repeat:repeat-x;
height:21px;
font-size:13px;
font-color:#0000FF;
padding:0px 20px 0px 20px;
}
/* Login Box */

.footer{
width:1000px;
}
.copyright{
width:300px;
font-family:Arial, Georgia, Times New Roman, Times, serif;
font-size:12px;
color:#595757;
float:left;
margin:0px 0px 0px 400px;
}
.tele-atlas{
width:200px;
font-family:Arial, Georgia, Times New Roman, Times, serif;
font-size:12px;
color:#595757;
float:left;
margin:0px 0px 0px 90px;
}


