﻿@charset "utf-8";
/* CSS Document */
.login-page{
width:1000px;
margin:0px auto;
}
#popover {
	height:374px;
	margin:0px;
/*	display:none;
	background:#fff url('../images/popover-bg.png') no-repeat 0 0;
	border:5px solid #fff;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	-moz-box-shadow:0 0 15px #333;
	-webkit-box-shadow:0 0 15px #333;
	box-shadow:0 0 15px #333;
*/	z-index:9999;
	width:600px;
}
.pop-main{
width: 600px;
margin:0px;
}
.login-part{
height: 120px;
margin: 0 0 0 0px;
width: 370px;
}
.login-field-part{
width:600px;
float:left;
padding:10px;
background-color:#fcfcfc;
border:#e6e6e6 solid 1px;
margin:0px 0px 0px 0px;
}
.login-field{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#205a78;
text-align:right;
padding:0px 10px 0px 0px;
}

