.modal-overlay
{
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        height:100%;
        width:100%;
        margin:0;
        padding:0;
        background:#fff;
        opacity:.75;
        filter: alpha(opacity=75);
        -moz-opacity: 0.75;
        z-index:9999;
}
.modal-window
{
        position:fixed;
        top:50%;
        left:50%;
        margin:0;
        padding:0;
        z-index:9999;
}
.close-window
{
        position:absolute;
        width:32px;
        height:32px;
        right:8px;
        top:8px;
        background:transparent url('../images/closebox.gif') no-repeat scroll right top;
        text-indent:-99999px;
        overflow:hidden;
        cursor:pointer;
        opacity:.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
}
.close-window:hover
{
        opacity:.99;
        filter: alpha(opacity=99);
        -moz-opacity: 0.99;
}
