/* CSS Document */

        table.main
        {
            width: 102%;
            height: 200px;
           /* table-layout: fixed; */
        }
        .root1 
        {
			height:50px;
           /* table-layout: fixed; */
        }
        table.root
        {
			height:50px;
           /* table-layout: fixed; */
        }
        table.content
        {
            table-layout: fixed;
            width: 148%;
        }
        table.content-normal
        {
            table-layout: fixed;
            width: 100%;
        }
        table.head
        {
            table-layout: fixed;
            width: 145%;
			height:56px;
			/*border-top:1px solid #cccccc;
			border-left:1px solid #cccccc;
			border-right:1px solid #cccccc;
			border-bottom:1px solid #cccccc;*/
        }
        table.head-normal
        {
            table-layout: fixed;
            width: 100%;
			height:56px;
			/*border-top:1px solid #cccccc;
			border-left:1px solid #cccccc;
			border-right:1px solid #cccccc;
			border-bottom:1px solid #cccccc;*/
        }
        table.frozen
        {
            table-layout: fixed;
        }
        div.horizontal-scroll
        {
            height: 20px;
			width:98%;
            overflow: hidden;
            overflow-x: scroll;
        }
        div.horizontal-scroll div
        {
            width: 138%;
            height: 1px;
        }
        div.horizontal-scroll-normal div
        {
            width: 100%;
            height: 1px;
        }
        div.vertical-scroll
        {
            height: 255px;
            width: 22px;
        }
        div.vertical-scroll div
        {
            height: 320px;
            width: 1px;
        }
        
        div.vertical-scroll-fixed
        {
            height: 275px;
            width: 22px;
        }
        div.vertical-scroll-fixed div
        {
            height: 230px;
            width: 1px;
        }
        
        td.inner
        {
            padding: 0px 0px 0px 0px;
            height: 28px;
			vertical-align:top;
			background-color:#eeeeee;
           /*  border-top: 1px solid #999999;
            border-right: 1px solid #999999; */
			line-height:24px;
			overflow:hidden;
        }
        td.inner1
        {
            padding: 0px 0px 0px 10px;
            height: 28px;
			vertical-align:top;
			background-color:#f8f8f8;
          /*   border-top: 1px solid #999999;
            border-right: 1px solid #999999; */
			line-height:24px;
			overflow:hidden;
			white-space:nowrap;
			width:100%;
        }
        td.frozencol
        {
		height:28px;
		padding:0px 0px 0px 0px;
		line-height:26px;
		
        }
        td.frozencol1 img
        {
		padding:8px 0px 0px 0px;
		background-color:#eeeeee;
		line-height:22px;
        }
        td.frozencol1
        {
        vertical-align:top;
		height:28px;
		background-color:#eeeeee;
            /* border-top: 1px solid #999999;
            border-right: 1px solid #999999; */
		line-height:26px;
		text-align:center;
        }
		
        td.frozencol2 img
        {
		padding:8px 0px 0px 0px;
		background-color:#f8f8f8;
		line-height:22px;
        }
        td.frozencol2
        {
        vertical-align:top;
		height:28px;
		background-color:#f8f8f8;
            /* border-top: 1px solid #999999;
            border-right: 1px solid #999999; */
		line-height:26px;
		text-align:center;
        }
        td.frozencol3
        {
		height:28px;
		background-color:#f8f8f8;
            border-top: 1px solid #999999;
            border-right: 1px solid #999999;
		line-height:26px;
		text-align:center;
        }
        td.frozencol4
        {
		height:28px;
		background-color:#eeeeee;
            border-top: 1px solid #999999;
            border-right: 1px solid #999999;
		line-height:26px;
		text-align:center;
        }
		
        td.col1
        {
            border-left: none;
			padding:0px 0px 0px 0px;
			background-color:#eeeeee;
/*             border-top: 1px solid #999999; */
            text-overflow: ellipses;
			 white-space: nowrap;
        }
        td.col11
        {
			padding:0px 0px 0px 0px;
            border-left: none;
			background-color:#f8f8f8;
            /* border-top: 1px solid #999999;
            border-right: 1px solid #999999; */
            text-overflow: ellipses;
			 white-space: nowrap;
        }
        
        td.col51
        {
            border-left: none;
			padding:0px 0px 0px 0px;
			background-color:#eeeeee;
            /* border-top: 1px solid #999999;
            border-right: 1px solid #999999; */
            text-overflow: ellipses;
			 white-space: nowrap;
        }
        td.col511
        {
			padding:0px 0px 0px 0px;
            border-left: none;
			background-color:#f8f8f8;
           /*  border-top: 1px solid #999999;
            border-right: 1px solid #999999; */
            text-overflow: ellipses;
			 white-space: nowrap;
        }
        
        td.bottomcol
        {
            /*border-bottom: 1px solid #666;*/
        }
        td.col2
        {
            overflow: hidden; text-overflow: ellipses; white-space: nowrap; background-color:#eeeeee; padding:0px 0px 0px 0px; height:28px;
        }
        .col3, .col4,.col6, .col7, .col8, .col9, .col10, .col1-1, .col12, .col13
        {
            overflow: hidden;
            text-overflow: ellipses;
            white-space: nowrap;
			padding:0px 0px 0px 0px;
			height:28px;
        }
        .col5
        {
            overflow: hidden;
            text-overflow: ellipses;
            white-space: nowrap;
			padding:0px 0px 0px 0px;
			hight:28px;
        }
        
        .col21, .col31, .col41, .col51, .col61, .col71, .col81, .col91, .col101, .col111, .col121, .col131
        {
            overflow: hidden;
            text-overflow: ellipses;
            white-space: nowrap;
			background-color:#f8f8f8;
			height:28px;
        }
        td.head
        {
            border-top: 1px solid #999999;
			/*background-image:url(../images/titles-bg.png); background-repeat:repeat-x; */
            background-color: #cccccc;
			font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; text-align:center;
        }
        td.head1
        {
           
			/*background-image:url(../images/titles-bg.png); background-repeat:repeat-x; */
            background-color: #cccccc;
             border-top: 1px solid #999999;
            border-right: 1px solid #999999;
			font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px; text-align:center;
        }
        td.head-normal
        {
            /*border-bottom: 1px solid #666;
            background-color: #efefef;
            border-top: 1px solid #666;*/
			background-image:url(../images/titles-bg.png); background-repeat:repeat-x; 
			font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:12px;
        }
        .rightcol
        {
        }
        .toprow
        {
            border-top: 0px;
			padding:4px 0px 0px 0px;
        }
        div.root
        {
            margin-left: 0px;
            overflow: hidden;
            height: 32px;
        }
        div.frozen
        {
            overflow: hidden;
            /*border-bottom: 1px solid #666;*/
            height: 140px;
			font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:11px;
        }
        div.divhead
        {
            overflow: hidden;
            height: 50px;
			vertical-align:top;
			font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:11px;
            /*border-left: 1px solid #666;
            border-right: 1px solid #666; /*border-bottom: 0px solid #666;
            border-bottom: 1px solid #666;*/
        }
        div.divhead .head
        {
            overflow: hidden;
            height: 20px;
			vertical-align:top;
			font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:11px;
            /*border-left: 1px solid #666;
            border-right: 1px solid #666; /*border-bottom: 0px solid #666;
            border-bottom: 1px solid #666;*/
        }
        div.content
        {
            overflow: scroll;
            overflow-x: hidden;
            height: 140px;
			font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:11px;
        }
        .content td
        {
        }
        div.content-normal
        {
            overflow: hidden;
            height: 260px;
			font-family:Arial, Helvetica, sans-serif, Arial Unicode MS; font-size:11px;
        }
        td.tablefrozencolumn
        {
		width:14%;
        }
        td.tablecontent
        {
		margin:0px 0px 0px 0px;
        }
        td.tableverticalscroll
        {
            width: 15px;
        }
        div.ff-fill
        {
            height: 23px;
            width: 23px;
        }
