.page-title{
	float:left;
	width:1245px;
	line-height:25px;
	border:#ccc solid 1px;
	color:#fff;
	font-family:Arial, verdena, sans-serif;
	font-size:15px;
	background-image:url(../images/reporting-bg.png);
	padding:10px 0 5px 10px;
	font-weight:bold;
}
.pro-details-field-name{
	font-family:Arial, verdena, sans-serif;
	font-size:14px;
	float:left;
	color:#0b3e59;
	width:185px;
	line-height:30px;
	padding:0px 0px 0px 5px;
}
.leave-form-field-name{
	font-family:Arial, verdena, sans-serif;
	font-size:14px;
	color:#0b3e59;
	width:40%;
	line-height:30px;
	padding:0px 0px 0px 5px;
	text-align:left;
}
.leave-form-textbox{
	width:120px;
}

.pt_erp {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.top_banner_left{
	background-image:url(../images/top_bg_left.jpg);
	height:76px;
	width: 18px;
	background-repeat:repeat-x;
}
.top_banner {
	background-image:url(../images/top_bg.jpg);
	height:76px;
	width: 598px;
	background-repeat:no-repeat;
}
.top_banner_right{
	background-image:url(../images/top_bg_right.jpg);
	height:76px;
	width: 100%;
	background-repeat:repeat-x;
}
.body_bg{
	background-image:url(../images/body_bg.jpg);
	height:435px;
	width: 90%;
	background-position:center;
}
.body_bg_debitscredits{
	background-image:url(../images/body_bg.jpg);
	height:235px;
	width: 90%;
	background-repeat:no-repeat;
	background-position:center;
}
.login_bg {
	background-image: url(../images/splash_login_bg.jpg);
	height: 506px;
	width: 867px;
	background-position: center;
}
.footer_bg {
	background-image: url(../images/footer_bg.jpg);
	height: 23px;
	width: 972px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #afafae;
}
.username {
	font-family: "Myriad Pro";
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	color: #FFFFFF;
}
.login_inputbox {
	height: 18px;
	width: 200px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.forgot_password {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: underline;
}
.main_menu {
	/*font-family: "Myriad Pro";*/
	font-family: VERDANA;
	font-size: 11px;
	text-transform: uppercase;
	color: #000000;
	background-image: url(../images/main_menu_bg.jpg);
	background-repeat: repeat-x;
	height: 27px;
	width: 1000px;
}
.main_heading {
	font-family: Calibri;
	/*font-family: Georgia;*/
	font-size: 25px;
	color: #5882FA;
	width:100%;
	text-align: center;
	background-color: #DDE4E8
}

.top_link{
	font-family: "VERDANA";
	font-size: 10px;
	color: #FA58AC;
	vertical-align:bottom;
}

.top_link_heading{
	font-family: "VERDANA";
	font-size: 12px;
	color: #FA58AC;
	vertical-align:bottom;
	text-decoration: underline;
}

.list_text {
	font-family: "Arial";
	font-size: 11px;
	color: #000000;
	text-align:center;
}
.list_text_header {
	font-family: "VERDANA";
	font-size: 11px;
	text-transform: uppercase;
	color: #7D2252;
	height:18px;
	vertical-align:middle;
}
.list_text_header_indent {
	font-family: "VERDANA";
	font-size: 11px;
	text-transform: uppercase;
	color: #7D2252;
	vertical-align:top;
}
.line_color {
	background-color: #cacaca;
}
.empty_space {
	background-color: #ffffff;
}
.list_text_detail {
	background-color: #eeedeb;
}
.list_text_static {
/*	font-family: "VERDANA";
	font-size: 11px;*/
	text-transform: uppercase;
	background-color: #fcf2e5;
/*	color: black;*/
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	padding: 2px 5px;
/*	font-weight: normal;*/
}
.drop_down {

	height: 24px;
	width: 175px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.list_input {


	height: 24px;
	width: 175px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.input_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.listview_heading {
	font-family: "Myriad Pro";
	font-size: 12px;
	text-transform: uppercase;
	color: #CCCCCC;
	background-color: #77746d;
	height: 25px;
}
.footer_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	background-color: #91d809;
}
.home_logout {
	font-family: "Myriad Pro";
	font-size: 12px;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 1px;
}
.paramName,.paramName4{
	color: white;
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	padding: 2px 5px;
	font-weight: normal;
}

.paramName{
	text-align: left;
	background-color: #6699CC;
	font-size: 15px;
	font-weight:bold;
}
.paramValue,.paramValue4{
	border: 1px solid #ccc;
	border-left:none;
	border-right:none;
	padding: 5px 5px 5px 15px;
}

.paramValue{
	text-align: left;
	font-size: 15px;
}

.listview_data_odd {
	background-color: #FFFFF0;
	height: 25px;
}

.listview_data_even {
	background-color: #FFFFF0;
	height: 25px;
}

.create_new_button {
	text-align: right;
	vertical-align: middle;
}

.home_line {
	font-family: "Myriad Pro";
	font-size: 11px;
	text-transform: uppercase;
	background-color: #fcf2e5;
	height:5px;
/*	color: black;
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	padding: 2px 5px;
	font-weight: normal;*/
}

.success_msg {
	text-align: center;
	font-family: "Myriad Pro";
	font-size: 11px;
	color: green;
}

.main_table {
	width:100%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	vertical-align: center;
}

.main_table td{
	padding: 0px 0px 0px 0px;
}

.content_table{
	width:100%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	vertical-align: center;
	padding: 0px 0px 0px 0px;
}


.content_empty_line {
	height:10px;
	background-image:url(../images/trans.gif);
	background-repeat:no-repeat;
}

.search_table_param1{
	width:100%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	vertical-align: center;
}

.search_table_param1 td{
	padding: 0px 0px 0px 0px;
	height: 30px;
}

.search_table_param1_unsold{
	width:80%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	vertical-align: center;
}

.search_table_param1_unsold td{
	padding: 0px 0px 0px 0px;
	height: 30px;
}

.search_table_param2{
	width:80%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	vertical-align: center;
}

.search_table_param2 td{
	padding: 0px 0px 0px 0px;
	height: 30px;
	text-align: left;
}

.list_table{
	width:100%;
	border: 1px #736F6E solid;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	vertical-align: center;
}

.list_table td{
	padding: 0px 0px 0px 0px;
	border: 1px #736F6E solid;
}

.list_table_unsold{
	width:80%;
	border: 1px #736F6E solid;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	vertical-align: center;
}

.list_table_unsold td{
	padding: 0px 0px 0px 0px;
	border: 1px #736F6E solid;
}

.pagination_table{
	width:370px;
	border: none;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	vertical-align: center;
	text-align: right;
}

.pagination_table td{
	padding: 0px 0px 0px 0px;
}

.footer_table{
	width:100%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	vertical-align: center;
	text-align: center;
	background-color: #ffffff;
}

.footer_table td{
	padding: 0px 0px 0px 0px;
	height: 25px;
}


.detail_table_param{
	width:100%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0px 0px;
}

.detail_table_param td{
	padding: 0px 0px 0px 0px;
	height: 30px;
}

.detail_table_center {
	text-align: center;
}

.line_text_header {
	font-family: "VERDANA";
	font-size: 11px;
	text-transform: uppercase;
	color: #7D2252;
	text-align: right;
}

.line_text_header_center {
	font-family: "VERDANA";
	font-size: 11px;
	text-transform: uppercase;
	color: #7D2252;
	text-align: center;
}


.line_text_value {
	font-family: "VERDANA";
	font-size: 11px;
	color: #000000;
	text-align: left;
}

.line_text_center_value {
	font-family: "VERDANA";
	font-size: 11px;
	color: #000000;
	text-align: center;
}


.detail_table_param2{
	text-align: center;
	width:100%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0px 0px;
}

.detail_table_param2 td{
	padding: 0px 0px 0px 0px;
	height: 25px;
}

.detail_table_param4{
	width:90%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0px 0px;
}

.detail_table_param4 td{
	padding: 0px 0px 0px 0px;
	height: 25px;
}

.detail_table_param3{
	width:100%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0px 0px;
}

.detail_table_param3 td{
	padding: 0px 0px 0px 0px;
	height: 25px;
}


.detail_table_center2 {
	text-align: center;
}

.line_text_static_header {
	font-family: "VERDANA";
	font-size: 11px;
	text-transform: uppercase;
	background-color: White;
	color: #7D2252;
	border: 1px solid #ccc;
	border-left: 1px;
	padding: 2px 5px;
	font-weight: normal;
	text-align: right;
}

.line_text_static_value {
	font-family: "VERDANA";
	font-size: 11px;
	color: #000000;
	text-align: left;
	border: 1px solid #ccc;
}

.parent_header{
	font-family: "VERDANA";
	font-size: 11px;
	color: #000000;
	vertical-align:middle;
	text-transform: uppercase;
	text-align: right;
	height:30px;
}

.parent_info {
	font-family: "VERDANA";
	font-size: 11px;
	text-transform: uppercase;
	color: #000000;
	text-align: right;
	width:100%;
}
.parent_value {
	font-family: "VERDANA";
	font-size: 11px;
	text-transform: uppercase;
	color: #000000;
	text-align: left;
	height:30px;
}

.list_table_center {
	text-align: center;
}

.search_text_header {
	font-family: "VERDANA";
	font-size: 11px;
	text-transform: uppercase;
	color: #7D2252;
	text-align: right;
}
.search_text_value {
	font-family: "VERDANA";
	font-size: 11px;
	color: #000000;
	text-align: left;
}





.detail_table_param5{
	width:50%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0px 0px;
}

.detail_table_param5 td{
	padding: 0px 0px 0px 0px;
	height: 25px;
}


.search_table_param3{
	width:60%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	vertical-align: center;
}

.search_table_param3 td{
	padding: 0px 0px 0px 0px;
	height: 30px;
	text-align: left;
}

.list_table2{
	width:50%;
	border: 1px #736F6E solid;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	vertical-align: center;
}

.list_table2 td{
	padding: 0px 0px 0px 0px;
	border: 1px #736F6E solid;
}

.indent_total {
	font-family: "VERDANA";
	font-size: 11px;
	color: #000000;
	text-align:left;
	background-color: #fcf2e5;
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	padding: 2px 5px;
}
.indentView_total {
	font-family: "VERDANA";
	font-size: 11px;
	color: #000000;
	text-align:right;
	background-color: #fcf2e5;
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	padding: 2px 5px;
}

tbody.scrollContent { 
width: 584px; 
overflow: auto; 
height: 700px; 
}

.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; background-color: #FFFFFF; }



.dojoComboBoxOptions::-webkit-scrollbar {
     width: 13px;
     height: 13px;
}
 
/* Track */
.dojoComboBoxOptions::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.dojoComboBoxOptions::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #C3E2FF; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.dojoComboBoxOptions::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
.dojoComboBoxOptions::-webkit-scrollbar-button:vertical {height:4px;}
.dojoComboBoxOptions::-webkit-scrollbar-button:horizontal  {width:4px;}
