﻿@charset "utf-8";
/* CSS Document */
body {
	background-color: #dad5cc;
	width: 100%;
	margin: 0px auto;
}

.main {
	width: 1000px;
	margin: 0px auto;
	background-image: url(../images/main-bg.png);
}

.page {
	margin: 0px auto;
	width: 1000px;
}

.top-header {
	width: 1000px;
	float: left;
	background-image: url(../images/header-bg.png);
	height: 75px;
}

.title-heading {
	font-family: Arial, verdena, sans-serif;
	font-size: 18px;
	float: left;
	text-transform: uppercase;
	color: #fff;
	padding: 0px 0px 0px 24px;
}

.name-list {
	text-align: left;
	width: 200px;
}

.pro-details-table {
	padding: 10px 0 10px 20px;
}

.left-part-freeze {
	height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}

.check-box {
	text-align: center;
	width: 20px;
}

.right-part-freeze {
	height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}

.pro-details-part {
	background-color: #DDE4E8;
	float: left;
	height: 85px;
	width: 1000px;
}

.freeze-header-part {
	background-color: #CCCCCC;
	width: 1000px;
}

.table-title {
	background-color: #C3C9CC;
	color: #474343;
	font-family: Arial, verdena, sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
}

.emp-details-part {
	width: 1000px;
	float: left;
	background-color: #DDE4E8;
	height: 105px;
}

.error-msg {
	width: 1000px;
	float: left;
	background-color: #DDE4E8;
}

.error-msg-popup {
	width: 100%;
	float: left;
	background-color: #DDE4E8;
}

.emp-details-field-name {
	font-family: Arial, verdena, sans-serif;
	font-size: 14px;
	float: left;
	color: #0b3e59;
	width: 185px;
	line-height: 30px;
	padding: 0px 0px 0px 5px;
}

.search-btn {
	width: 75px;
	height: 35px;
}

.search-btn a {
	width: 75px;
	line-height: 35px;
	/*background-image:url(../images/search-btn.png);
background-position:top;
background-repeat:no-repeat;*/
	height: 35px;
	font-family: Arial, verdena, sans-serif;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	margin: 0px 0px 0px 50px;
	float: left;
}

.search-btn a:hover {
	color: #f9fbc6;
}

.emp-details-table {
	padding: 10px 0px 10px 50px;
}

.select-icon {
	padding: 0px 3px;
}

.terms-part {
	width: 1000px;
	line-height: 30px;
	background-color: #F3F3F3;
	float: left;
}

.terms-text {
	font-family: Arial, verdena, sans-serif;
	font-size: 11px;
	color: #474343;
	padding: 0px 5px;
}

.main-table-part {
	width: 998px;
	float: left;
	background-color: #fff;
	border: #c8c6c6 solid 1px;
}

.table-title {
	color: #474343;
	font-family: Arial, verdena, sans-serif;
	font-size: 13px;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	background-color: #d7e8f1;
}

.table-title-text {
	color: #fff;
	font-family: Arial, verdena, sans-serif;
	font-size: 12px;
	text-align: left;
	line-height: 30px;
	padding: 0px 0px 0px 3px;
}

.table-title-content {
	color: #474343;
	font-family: Arial, verdena, sans-serif;
	font-size: 12px;
	line-height: 30px;
	padding: 0px 0px 0px 3px;
	background-color: #dde4e8;
}

.table-title-content1 {
	color: #474343;
	font-family: Arial, verdena, sans-serif;
	font-size: 12px;
	line-height: 30px;
	padding: 0px 0px 0px 3px;
	background-color: #f3f3f3;
}

.list-box {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.add-btns-part {
	width: 1000px;
	float: left;
}

.plus-btns {
	width: 60px;
	text-align: left;
	padding: 10px 0px 0px 0px;
}

.save-btns-part {
	float: left;
	width: 1000px;
	background-color: #f5f3f3;
}

.save-btn {
	width: 75px;
	height: 35px;
}

.save-btn a {
	width: 75px;
	line-height: 35px;
	height: 35px;
	font-family: Arial, verdena, sans-serif;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	margin: 10px 0px 10px 0px;
	float: left;
}

.save-btn a:hover {
	color: #f9fbc6;
}

.login-whole-part {
	width: 1000px;
	float: left;
	background-color: #DDE4E8;
}

.login-part {
	margin: 90px 0px 0px 265px;
	background-image: url(../images/table-bg.png);
	background-repeat: no-repeat;
	width: 480px;
	height: 400px;
}

.login-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	padding: 15px 0px 0px 20px;
	float: left;
}

.login-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #334f5e;
	line-height: 25px;
	text-align: left;
	width: 100px;
	cursor: pointer;
}

.login-field {
	padding: 0px 0px 0px 0px;
	width: 200px;
}

.forgot {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #334f5e;
	line-height: 25px;
	text-align: left;
	width: 160px;
	cursor: pointer;
}

.forgot:hover {
	text-decoration: underline;
}

.login-btn {
	width: 75px;
	height: 35px;
}

.login-btn a {
	width: 75px;
	line-height: 35px;
	/*background-image:url(../images/search-btn.png);
background-position:top;
background-repeat:no-repeat;*/
	padding: 0 15px 0 15px;
	height: 35px;
	font-family: Arial, verdena, sans-serif;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	float: left;
}

.login-btn a:hover {
	background-position: bottom;
	color: #f9fbc6;
}

.footer-part {
	margin: auto;
	width: 100%;
	height: 30px;
	background-color: #2d4a59;
	line-height: 30px;
	font-family: Arial, verdena, sans-serif;
	font-size: 11px;
	color: #fff;
	text-align: center;
	float: left;
}

.plan-lead-logo {
	float: left;
	width: 210px;
	height: 65px;
	padding: 0px 490px 0px 0px;
}

.tech-trends-logo {
	float: left;
	width: 195px;
	height: 65px;
}

.logout {
	width: 60px;
	float: left;
}

.logout a {
	font-family: arial;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	margin: 45px 0px 0px 10px;
	float: left;
}

.logout a:hover {
	text-decoration: underline;
}

.plan-details-part {
	width: 600px;
	float: left;
	background-color: #F5F3F3;
}

.plan-field-name {
	font-family: Arial, verdena, sans-serif;
	font-size: 14px;
	float: left;
	color: #0b3e59;
	line-height: 40px;
	padding: 0px 0px 0px 5px;
	white-space: nowrap;
}

.plan-btns-part {
	float: left;
	width: 600px;
	background-color: #f5f3f3;
	padding: 10px 0px 10px 0px;
}

.plan-header {
	width: 600px;
	float: left;
	background-image: url(../images/header-bg.png);
	height: 50px;
	background-position: bottom;
	margin: 0px 0px 10px 0px;
}

.plan-header-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #fff;
	line-height: 25px;
	font-weight: bold;
	padding: 10px 0px 0px 10px;
	vertical-align: middle;
}

.close-btn {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fff;
	vertical-align: bottom;
	text-align: right;
	padding: 0px 10px 0px 0px;
	line-height: 20px;
}

.emp-id {
    text-align: center;
    width: 80px;
}

.serial-no {
    text-align: center;
    width: 45px;
}

.shedule-date {
    text-align: center;
    width: 75px;
}

.role {
    text-align: left;
    width: 150px;
}

.mode {
    width: 120px;
}
.table-cont{
color:#474343;
font-family:Arial, verdena, sans-serif;
font-size:13px;
text-align:center;
line-height:24px;
font-weight:bold;
background-color:#f8f8f8;
}